.sl-header
  .header__logo
    a.header__image(href='http://love-sl.ru')
  .phone
    i.phone__icon
    span.phone__number 8 800 775 22 22
  ul.header__menu
    li.item.item-catalog
      a(href="http://love-sl.ru/catalog/") Каталог
    li.item.item-rings
      a(href="http://love-sl.ru/catalog/category/rings/") Кольца
    li.item.item-earrings
      a(href="http://love-sl.ru/catalog/category/earrings/") Серьги
    li.item.item-chains
      a(href="http://love-sl.ru/catalog/?product_type=319", rel="nofollow") Цепи
    li.item.item-charms
      a(href="http://love-sl.ru/catalog/?collection=5167", rel="nofollow") Шармы
    li.item.item-clock
      a(href="http://love-sl.ru/catalog/clock/") Часы
    li.item.item-chance
      a(href="http://love-sl.ru/catalog/hitprice.html") Хит цена
    li.item.item-actions
      a(href="#!/") Акции
    li.item.item-shops
      a(href="http://love-sl.ru/shops/locator.php") Магазины
