.sl-actions
  @extend .row

  .action
    @extend .col-xs-6
    @extend .col-sm-4
    @extend .col-lg-2
    text-align: center
    padding: .5em 0

    a
      display: block

    img
      width: 90%
      border: 0
      padding: 0
      margin: 0

  .action_current
    width: 100%

  .action__banners
    margin: 1em 0
    max-width: none

    .banner
      @extend .col-sm-7
      height: 400px
      background: transparent no-repeat 50% 0
      background-size: contain

  .action__reg
    @extend .col-sm-5
    height: 400px
    background: transparent no-repeat 50% 0
    background-size: contain

  .action__title
    padding: 0 .5em

  .action__terms
    $textColor: #555
    padding: 0 1em
    h5
      text-transform: uppercase
      color: $textColor

      +media-breakpoint-up(sm)
        text-align: left

    .terms__text
      text-align: left
      font-size: .9em
      color: $textColor
